@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400;1,500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Playfair Display', serif;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("https://images.unsplash.com/photo-1561577553-674ce32847a4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    background-size:cover;
    overflow: hidden;
}

h1{
    font-size: 5rem;
    font-weight: 200;
    margin: 40px;
    letter-spacing: 4px;
    text-align: center;
}

.countdown-container{
    display: flex;
    text-align: center;
 
}

.countdown-container div{
    margin: 30px;
    position: relative;
}
.countdown-container span{
    width: 170px;
    height: 170px;
    font-weight: 200;
    background-color: rgba(255, 255, 255, 0.116);
    color:rgb(255, 255, 255); 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 120px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    font-weight: bold;
}
.countdown-container .text{
    height: 30px;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: rgb(137, 161, 204);
    color: white;
    opacity: 0.8;
}

